@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --primary-color: url(/img/Landscape1.jpg);
  --secondary-color: black;
  --primary-tag: #e1e1e670;
  --secondary-tag: #02799d8a;
}

.tag-theme {
  --secondary-tag: #e1e1e670;
  --primary-tag: #02799d8a;
}

.dark-theme {
  --primary-color: url(/img/Landscape2.jpg);
  --secondary-color: white;
}

body {
  background: var(--primary-color);
  font-family: "Roboto", sans-serif;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 280%;

  overflow: hidden;
}

main {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  background: #e1e1e63f;
  height: 520px;
  width: 800px;
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

}

#icon {
  display: flex;
  position: absolute;

  top: 3rem;
  right: 3rem;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}

.timer {
  font-size: 12.5rem;
  display: flex;
  margin-bottom: 2rem;
  color: var(--secondary-color);
}

.controls {
  display: flex;
  gap: 3.8rem;

  justify-content: center;
}

button {
  background-color: transparent;
  border: none;

  cursor: pointer;
}

.tags {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 3.2rem;
}
#tree,
#rain,
#house,
#fire {
  height: 15rem;
  width: 14rem;
  background-color: var(--primary-tag);
  border-radius: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.tags img {
  position: absolute;
}

[type="range"] {
  height: 5px;
  width: 100px;
  border-radius: 5px;

  margin-top: 120px;
  position: absolute;

  cursor: pointer;
}









